body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style:normal;
  }

  html {
    scroll-behavior: smooth;
      }

  
  .nav-list {
    list-style: none;
  }
  
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }

  * {
    box-sizing: border-box;
  }

a{
  text-decoration: none;
  cursor: pointer;
}
   

.nav-link {
    transition: 0.3s;
    color: rgb(32, 28, 28);
    text-decoration: none;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
  }

  .nav-link:hover {
    color: #00B3FF;
  }

 .ava {
    width: 13%;
    height: 13%;
    border-radius: 100px; 
    border: 3px solid green; 
    box-shadow: 0 0 6px #666;
      }

  .logo {
      width: 25%;
      height: 25%;
            }

  .git-logo{
    width: 10%;
    height: 10%;
           }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
         }

     
.container {
    max-width: 1440px;
    margin: 0 auto;
                }

 .header {
  background-color: #ccc4c4;
  border: 1px solid #d5d9df;
  
  }
  .main {
    background-color: #bce1d7;
     
  
  }
  .footer {
    background-color: #ccc4c4;
    display: flex;
    align-items: center;
    justify-content: space-between;
           }

  .footer-date {
     font-size: large ;
     text-shadow: #666;
     font-weight: bold;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
  }

  .profile {
    height: h1;
  }

  li {
    list-style-type: none ;
  }

 .name {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 5px;
}
  
.section-code {
  font-size: large;
  }